:root {
    --color-primary: #373e99;
}

*, *::after, *::before  {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    font-size: 18px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header,
.footer {
    background: var(--color-primary);
    padding: 20px 10px;
}

.main {
    flex-grow: 1;
    padding-top: 15px;
}

.nav__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.nav__item-link {
    text-decoration: none;
    color: #ffff;
    font-size: 21px;
    transition: color 0.5s ease ;
}


.nav__item-link:hover {
    
    color:  grey
}

.section {
    padding: 0 30px;
    padding-top: 20px;
    border: 1px solid black;
}

#profile {
    display: flex;
    align-items:center;
    justify-content: space-around;

}

.profile__avatar {
    border: 4px solid var(--color-primary);
    border-radius: 11px;
    box-shadow: 5px 5px 8px #5a5fe947;
}
.profile__text {
    text-align: center;
}
.section__title {
    color: var(--color-primary);
    font-size: 36px;
    margin: 0;
}
.profile__position {
    color: grey;
    font-weight: bold;
}